.DS_Store
test/batches/protocol-example-batch-1.txt
test/batches/protocol-example-batch-2.txt
test/batches/protocol-example-batch-3.txt
test/batches/protocol-example-batch-4.txt
test/batches/protocol-example-batch-5.txt
test/batches/protocol-example-batch-6.txt
test/batches/protocol-example-batch-7.txt
test/batches/protocol-example-batch-8.txt
test/batches/protocol-example-batch-9.txt
test/batches/protocol-example-batch-10.txt
test/batches/protocol-example-batch-11.txt
test/batches/protocol-example-batch-12.txt
test/batches/protocol-example-batch-13.txt
test/batches/protocol-example-batch-14.txt
test/batches/protocol-example-batch-15.txt
test/batches/protocol-example-batch-16.txt
test/batches/protocol-example-batch-17.txt
test/batches/protocol-example-batch-18.txt
test/batches/protocol-example-batch-19.txt
test/batches/protocol-example-batch-20.txt
